body {
  background-color: wheat;
}

button.chord {
  height: 10rem;
  width: 10rem;
  background-color: rgb(50, 25, 7);
  color: wheat;
  transition: .8s;
}

button:hover {
  opacity: .9;
}

div#all-songs {
  font-size: 2rem;
  color: rgb(50, 25, 7);
}

ul#song-list {
  list-style: none;
  color: rgb(50, 25, 7);
  font-size: large;
  font-weight: bold;
}
