body {
  background-color: wheat;
}

button {
  height: 10rem;
  width: 10rem;
  background-color: rgb(36, 8, 8);
  color: wheat;
  transition: .8s;
}

button:hover {
  opacity: .9;
}

div#all-songs {
  font-size: 2rem;
  color: rgb(36, 8, 8);
}

ul#song-list {
  list-style: none;
  color: rgb(36, 8, 8);
  font-size: large;
}
